<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Home {% endblock title %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,
    wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/981f9c2744.js" crossorigin="anonymous"></script>
</head>
<body>
<img class="bg-image" src="{% static 'bg.jpg' %}" alt="bg"/>
<nav class="header">
    <a href="/" class="logo">ADVENTURE GAME</a>
    <ul class="main-nav">
      <li>
        <a href="/" class="nav-links">Home</a>
      </li>
      <li>
        <a href="/intro" class="nav-links">Start Game</a>
      </li>
      <li>
        <a href="/about_game" class="nav-links">About Game</a>
      </li>
    </ul>
  </nav>
<div class="wrapper">
    {% block content %}
            if you see this, something is wrong!
        {% endblock content %}
</div>
<div class="footer">
    <span style="color: white; font-size:15px; padding-top: 1rem">
        Copyright
        &copy; 2020 by Aleksandar Krstić </span>
</div>
</body>
</html>