<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Home {% endblock title %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,
wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap" rel="stylesheet">
</head>
<body>
<nav class="header">
    <a href="/" class="logo">ADVENTURE GAME</a>
    <ul class="main-nav">
      <li>
        <a href="/" class="nav-links">Home</a>
      </li>
      <li>
        <a href="/game" class="nav-links">Start Game</a>
      </li>
      <li>
        <a href="/" class="nav-links">About Game</a>
      </li>
    </ul>
  </nav>
<div class="wrapper">
    {% block content %}
            if you see this, something is wrong!
        {% endblock content %}
</div>
<div class="footer">
    footer
</div>
</body>
</html>