{% extends 'base.html' %}
{% block title %}CHOOSE PATH{% endblock title %}
{% block content %}
{% load static %}

<div class="wrapper-container">
    <div class="container">
      <div class="container-header">
        As soon as steps into the forest he sees two paths. The left path is followed by huge mountains where he will need to rock climb his way up.
          The right path is followed by a river. Which path do you think Ziac should take in order to find his sister?
      </div>
      <div class="conatainer-content"></div>
      <div class="container-actions">
          <a href="/path_mountain"> <button type="button" class="danger-btn">PATH MOUNTAIN</button> </a>
          <a href="/path_slow_river"> <button type="button" class="ok-btn">PATH SLOW RIVER</button> </a>
      </div>
    </div>
</div>

{% endblock content%}