{% block content %}
{% load static %}
<p class="fade-in-text" id="nesto">
   Once upon a time there were
    two young siblings. One of them
    was a boy named Ziac and another
    a girl whose name was Sophie.
    They both lived at their grandparents farmhouse.
    They  we’re two very curious children that wanted to know everything
    that is happening around them. They had no serious obligations whatsoever
    besides not stepping foot in  the forest that was located next to their farmhouse
    which has been strictly forbidden by their grandparents. They didn’t know why it
    was forbidden and when they asked their grandparents why, they replied with a simple
    just listen to us it’s important that you do. One day when they were outside in front
    of the farmhouse playing in the grass they heard something from the woods. They both
    got very scared but in the same time Sophie got curious in what that might be. They
    were just sitting there and looking in the forest that seemed life less  until Sophie
    has decided upon walking towards the forest and checking it out. Ziac without moving
    a muscle  sat there and watched his sister walk away into the deep forest. After some
    time Ziac’s grandparents pass away. At the time Ziac is almost 20 years old, and the
    past years after losing his sister he was feeling guilty every single day.
 </br>
 </br>
 Ziac could not live anymore with that kind of pain and has decided upon searching for his sister in the deep forest. He will not be able to do it alone though and he will need your help in the decisions he’s about to make. Do you think you can help him? Well we are about to find out.
</p>
{% endblock content%}